/* Styles for the education section and cards */
.education {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Cards */
.card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
    overflow: hidden; /* Ensure the background does not overflow the card */
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    background-color: #f0f0f0; /* Background color for header */
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Optional: Add a border at the bottom of the header */
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-institute {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

.card-content {
    padding: 20px;
}

.card-description {
    font-size: 1em;
    color: #777;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

/*.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    width: 80%;

}
*/



.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-image {
    width: 100%;
    max-height: 400px; /* Set a max-height to ensure no overflow */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px; /* Space between image and text */
}

.modal-title, .modal-institute {
    margin: 10px 0;
}

/* Close button styles */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .education {
        grid-template-columns: 1fr;
    }

    .modal {
        width: 100%;
    }

    .modal-content {
        max-width: 100%;
    }

    .modal-image {
        max-height: 300px; /* Adjust height for smaller screens */
    }
}
