/* CSS para el formulario de contacto y la información de contacto */

/* Contenedor principal para el formulario y la información de contacto */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    margin-top: 100px;
    width: 65%; /* Ancho del contenedor en desktop */
    background: radial-gradient(circle, #c3c3c394, #dd773388, #cc5200ad, #cecece4f); /* Fondo compartido */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #c3c3c3;
    position: relative; /* Necesario para la línea divisoria */
    height: 65vh; /* Ajuste de la altura para centrar en el eje Y */
}

/* Línea divisoria */
.contact-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%; /* Ajusta según el ancho de las columnas */
    width: 1px;
    background: #ccc;
}

/* Estilos generales del formulario */
.form-container {
    width: 48%; /* Ajustar ancho para espacio entre columnas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px; /* Ajuste del padding para separación */
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input,
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container textarea {
    height: 150px;
}

.form-container button {
    background: linear-gradient(123deg, #c3c3c3, #ff6600, #c3c3c3);
    color: #333;
    font-weight: bold;
    border: 1px solid #c3c3c3;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}

.form-container button:hover {
    background: #cc5200;
}

/* Estilos para los mensajes de éxito y error */
.message {
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.message.success {
    background: #d4edda;
    color: #155724;
}

.message.error {
    background: #f8d7da;
    color: #721c24;
}

/* Estilos para la información de contacto */
.contact-info {
    width: 48%; /* Ajustar ancho para espacio entre columnas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px; /* Ajuste del padding para separación */
    text-align: center; /* Centrar el contenido en su columna */
}

.contact-info h2 {
    margin-bottom: 15px;
}

.contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

/* Media Queries para móviles */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 90%; /* Ajustar ancho para móviles */
        height: auto; /* Ajuste de la altura para móviles */
    }

    .contact-container::before {
        display: none; /* Eliminar la línea divisoria en vista móvil */
    }

    .form-container, .contact-info {
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
    }

    .form-container button {
        width: 30%;
        float: center;
    }

    .form-container textarea {
        height: 100px;
    }
}
