.topbar {
    width: 100%;
    background: linear-gradient(87deg, #333, #414040, #ff6600);
    color: white;
    padding: 10px 0;
    position: relative;
}

.topbar nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.topbar nav ul li {
    margin-right: 20px;
    position: relative;
}

.topbar nav ul li a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #333;
    transform: skew(-20deg);
}

.topbar nav ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px;
    width: calc(100% + 20px);
    height: 100%;
    background: transparent;
    transform: skew(-20deg) translateY(-50%);
    z-index: -1;
    transition: transform 0.3s, background 0.3s;
}

.topbar nav ul li a:hover::before {
    background: #ff6600;
    transform: skew(-20deg) translateY(-50%) scale(1.1);
}

@media (max-width: 768px) {
    .topbar {
        height: 60px;
    }

    .topbar nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        display: none;
        width: 100%;
        background: linear-gradient(87deg, #333, #414040, #ff6600);
    }

    .topbar nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .topbar nav ul li a {
        font-size: 16px;
        padding: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .hamburger div {
        width: 100%;
        height: 4px;
        background-color: white;
        margin: 5px 0;
        transition: all 0.3s;
    }

    .hamburger.active div:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }

    .hamburger.active div:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active div:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }

    .topbar nav ul.active {
        display: flex;
    }
}
